// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container,
.score-container {
  background-image: asset-url('playful.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

h1, h2, label, p {
  color: white;
}

.again {
  color: white;
  font-size: 20px;
}


